
@import '@/styles/variables';

.header {
  padding: 1rem;
  border-bottom: $border;
}

.heading {
  font-size: 1.25rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.actions {
  display: grid;
  grid-template-columns: auto max-content max-content;
  grid-gap: 0.25rem;
  align-items: center;
}

.icon {
  font-size: 16px !important;
  height: 16px !important;
  line-height: 16px;
  cursor: pointer;
}