@import '@/styles/variables';
@import '@/styles/mixins';

.modal {
  max-width: 400px;
}

.header {
  position: relative;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  background-color: $color-grey-light;
}

.close {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.75rem;
  cursor: pointer;
}

.content {
  padding: 2rem 1rem;
}

.users {
  height: 50vh;
  overflow-y: auto;
  margin-top: 2rem;
  padding-right: 0.5rem;
}