.label {
  display: block;
  padding: 1rem;
}

.rooms {
  max-height: calc(100vh - 142px);
  overflow-y: auto;
}

.room {
  display: grid;
  grid-template-columns: 40px minmax(0, 1fr) max-content;
  grid-gap: 1rem;
  padding: 1rem;
  cursor: pointer;

  transition: background-color 0.2s ease-in-out;
}

.room.active,
.room:hover {
  background-color: var(--color-hover);
}

.thumb {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: var(--color-grey-light);
  border-radius: 50%;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.roomName {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 400;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.lastMessage,
.lastDate {
  color: var(--color-grey-dark);
}

.lastDate {
  font-size: 0.75rem;
}