@import '@/styles/variables';

.messages {
  height: calc(100vh - 50px);
  overflow-y: auto;
  padding: 1.25rem;
}

.message {
  display: flex;
}

.message:not(:last-child) {
  margin-bottom: 2rem;
}

.message.sender {
  display: block;
}

.message.sender::after {
  content: "";
  clear: both;
  display: table;
}

.thumb {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: $color-grey-light;
  border-radius: 50%;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.details {
  max-width: 50%;
  margin-left: 0.5rem;
  color: $color-dark;
}

.details.system {
  margin: 0 auto;
}

.details.sender {
  float: right;
}

.text {
  padding: 1rem;
  background: $color-grey-light;
  border-radius: 0.25rem;

  &.system {
    padding: 0.25rem 1rem;
    color: $color-light;
    background-color: $color-dark;
  }
}

.text.sender {
  color: $color-light;
  background: $color-primary;
}

.name {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 12px;
}