.heading {
  text-align: center;
}

.details {
  display: grid;
  grid-template-columns: minmax(250px, 3fr) 7fr;
  border: var(--border);
}

.rooms {
  border-right: var(--border);
}

.conversation {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 1rem;
  height: 80vh;
  overflow: hidden;
  padding: 2rem 2rem 0 2rem;
}