.container {
  width: 100%;
  max-width: 450px !important;
  margin: 5rem auto;
}

.heading {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.formGroup {
  margin-bottom: 1rem;  
}

.signUpLink {
  color: var(--color-link);
}

.message {
  text-align: center;
}