$color-primary: #009c95;
$color-light: #f9f9f9;
$color-dark: #646464;
$color-grey: #c4c4c4;
$color-grey-light: #ebebeb;
$color-grey-dark: #747474;
$color-link: #4183c4;
$color-active: #1fb8b0;
$color-hover: #168fb11a;
$color-menu-item: #2b7d94;
$color-menu-item-active: #307183;

$border: 1px solid #c4c4c4;